<footer class="mt-auto">
    <hr>
    <div class="container" style="padding-bottom: 1em;">
        <div class="row">
            <div class="col-md-4 text-center">
                <span>Copyright &copy; Kiera Reed 2022</span>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://dominion.games">Dominion Online&nbsp;<img src="/extern.png" style="height: .8em;"></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://discord.gg/vMmmMBu">Dominion Discord&nbsp;<img src="/extern.png" style="height: .8em;"></a>
            </div>
        </div>
    </div>
</footer>