<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="/android-chrome-192x192.png" style="height: 2em;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{ ifeq path "/tournaments" "active" }}">
        <a class="nav-link" href="/tournaments">Tournaments</a>
      </li>
      <li class="nav-item {{ ifeq path "/players" "active" }}">
        <a class="nav-link" href="/players">Players</a>
      </li>
      <li class="nav-item {{ ifeq path "/calendar" "active" }}">
        <a class="nav-link" href="/calendar">Calendar</a>
      </li>
    </ul>
  </div>
</nav>