{{#*inline "page"}}

<div class="container-fluid">
  <h1>Dominion Tournaments</h1>
  <p style="max-width: 650px;">...is exactly what it says on the tin. This website has standings (and more!) for various Dominion tournaments hosted in the Dominion Discord server.</p>
  <ul style="max-width: 650px;">
    <li>The Tournaments tab shows ongoing, completed, and future tournaments.</li>
    <li>The Players tab shows statistics for players across various tournaments.</li>
    <li>The Calendar tab shows upcoming tournament matches.</li>
  </ul>
  <p style="max-width: 650px;">If you like this website and would like to help pay for its costs, consider <a href="https://ko-fi.com/kierajreed" target="_blank">buying me a coffee.</a></p>
</div>

{{/inline}}
{{~> (parent)~}}
